<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
{% for post in posts %}
    {{ post }}
{% endfor %}
            <p>published: 16.05.2015, 16:49</p>
            <h2><a href="">My first post</a></h2>
            <p>After 4 hours sleeping, after a very exhausting week, constantly having a very bad and rackless headache, I succeeded with creating my first blog within 1 day, so now every effort and pain turned into joy and pride. :)</p>
{% for post in posts %}
    {{ post }}
{% endfor %}
            <p>published: 16.05.2015, 16:51</p>
            <h2><a href="">My second post</a></h2>
            <p>I will celebrate this with a glass of wine in my bed. :)</p>
        </div>
    </body>
</html>